
.nav-green{
    background-color: #21ac41;
}

.title{
    font-size: 600%;
    font-weight: bold;
}



/* card image zoom */


figure {
	width: 100%;
	height: 100%;
	margin: 0 !important;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}



/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


/* card image zoom end */