<!DOCTYPE html>
<html>
<head>
  <title>FDL</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.min.css') }}">
      
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  
<!-- Adding some style to table (OPTIONAL) -->




</head>
<body>

  <nav class="nav-green">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Digital Library</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>

  <div class= "container">

      




        </br>
            <table class="striped"> 
              <!-- Table headers -->
                  <thead> 
                      <tr>  
                        <th>Serial Number</th> 
                        <th>Name</th>
                        <th>Type</th>
                        <th>Download</th> 
                      </tr> 
                  </thead> 
                    
              <!-- For loop logic of jinja template -->
              {%for i in range(0, len)%} 
              <tr> 
                {%for j in range(0, 4)%}
                  <!-- table rows -->
                    {% if j == 3 %}
                        <td> <a href={{recordList[i][j]}} class="waves-effect waves-light btn">Download</a></td> 
                    {% else %}

                        <td>{{recordList[i][j]}}</td> 
                    {% endif %}
                {%endfor%}
              </tr>
                
              {%endfor%} 
                
              
                
            </table> 

        </br>


        <script type="text/javascript" href="{{ url_for('static', filename='materialize/js/materialize.min.js') }}"></script>
  </div>
</body>
</html>