<!DOCTYPE html>
<html>
<head>
  <title>FDL</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.min.css') }}">
      
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>

  <nav class="nav-green">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>

  <div class="container" >

      
        <h2 class="h2 center title">Bodhi Digital Library</h2>
        <div class="row center">
        <div class="col s8"><textarea id="textarea1" class="materialize-textarea"></textarea></div>
        <div class="col s4"><a class="waves-effect green waves-light btn-large"><i class="material-icons left">search</i>search</a></div>
        </div>
        


  </div> <!--container-->

        </br>
        
        <div class="hover01 column">
          <div>




            <div class="row">
            {% for i in title %}
              {% set item_1 = title[loop.index-1] %}
              {% set imageUrl = image[loop.index-1] %}
              {% set item_2 = url[loop.index-1] %}
              

              <div class="col s4">
              <a href = "{{ item_2 }}">
                  <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                      <figure><img class="responsive-img" src="{{url_for('static', filename= imageUrl)}}" /></figure> <!-- notice the "circle" class -->
                    </div>
                    <div class="row">
                      <h2>{{ item_1 }}</h2>
                          <span class="black-text">
                            This is a square image. Add the "circle" class to it to make it appear circular.
                          </span>
                      
                    </div>
                  </div>
              </a>
              </div>
              {% endfor %}



                <div class="col s4">
                  <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                    <figure><img class="responsive-img" src="{{url_for('static', filename='/img/logos/wikipedia/Wikipedia-logo.png')}}" /></figure> <!-- notice the "circle" class -->
                    
                      <div class="col s10">
                        <span class="black-text">
                        <h2>Wikipedia</h2>
                          This is a square image. Add the "circle" class to it to make it appear circular.
                        </span>
                      </div>
                    </div>
                  </div>
              </div>
            

            </div>


        </br>



    
           <p>  </p>
           <p>   </p><br>
    


<!--
        <video width="320" height="240" controls>
          <source src={{ url_for('static', filename="Waste.mp4") }} type="video/mp4">
          Your browser does not support the video tag.
        </video>

      <a class="waves-effect waves-light btn">button</a>
        <br>
        <br>
        <br>

        <div class="cv-container">
          <!- -iframe title="Bartosz_Kobylinski_CV" src="{{url_for('static', filename ='demo.pdf')}}&embedded=true" frameborder="0"></iframe- ->
          <object data="{{ url_for('static', filename='demo.pdf')}}" type="application/pdf" style="min-height:100vh;width:100%"></object>
        </div>
        <script type="text/javascript" href="{{ url_for('static', filename='materialize/js/materialize.min.js') }}"></script>

-->


</body>
</html>